<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Bankole Cv</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("button").click(function(){
    $("#welcome").fadeOut();
  });
});
</script>
</head>
<body style="margin: 0%; padding: 0%;">

    <!-- Welcome page -->
    <div style="max-width: 60rem; margin: 15rem auto; padding: 7rem 0; border-radius: 1rem; background-color: grey; text-align: center;" class="welcome-container" id="welcome">
        <button>Proceed to Website</button><br><br>
        <h1  margin="auto" 
        align-self="center"
        font-size="7rem" class="welcome">
            Welcome
        </h1>
    </div>
    <header>
        <nav style=" 
            background-color: black;
            padding: 15px;" id="nav">
            <ul style="justify-content: center;
            display: flex;
            list-style: none;" class="navigation-menu">
    <li  style=" padding-left: 25px;
       color:white;
       text-decoration: none;
       padding-right: 25px;" class="link" ><a style=" padding-left: 25px;
       color:white;
       text-decoration: none;
       padding-right: 25px;" href="#profile" class="link">Profile</a> </li>
    <li  style=" padding-left: 25px;
       color:white;
       text-decoration: none;
       padding-right: 25px;" class="link" > <a style=" padding-left: 25px;
       color:white;
       text-decoration: none;
       padding-right: 25px;" href="" class="link"></a></li>
    <li  style=" padding-left: 25px;
       color:white;
       text-decoration: none;
       padding-right: 25px;" class="link" ><a style=" padding-left: 25px;
       color:white;
       text-decoration: none;
       padding-right: 25px;" href="#edu" class="link">Education</a></li>
    <li  style=" padding-left: 25px;
       color:white;
       text-decoration: none;
       padding-right: 25px;" class="link" ><a style=" padding-left: 25px;
       color:white;
       text-decoration: none;
       padding-right: 25px;" href="#add" class="link">Additional Skills</a> </li>
    <li  style=" padding-left: 25px;
       color:white;
       text-decoration: none;
       padding-right: 25px;" class="link" ><a style=" padding-left: 25px;
       color:white;
       text-decoration: none;
       padding-right: 25px;" href="#hobbies" class="link">Hobbies&Interests</a> </li>
    <li  style=" padding-left: 25px;
       color:white;
       text-decoration: none;
       padding-right: 25px;" class="link"><a style=" padding-left: 25px;
       color:white;
       text-decoration: none;
       padding-right: 25px;" href="../Resume.pdf" target="_blank" class="link">Resume/CV</a> </li>
     <li style=" padding-left: 25px;
       color:white;
       text-decoration: none;
       padding-right: 25px;"  class="link"><a style=" padding-left: 25px;
       color:white;
       text-decoration: none;
       padding-right: 25px;" href="#friends" class="link">Friends</a> </li>
</ul>
</nav>
<div style="text-align: center; background-color: #eee; font-size: 17px; padding: 15px;" class="second-menu">
    <p>Preliminary Interview Test for Trainee Developer / Intern (Mobile App)</p>
</div>
    </header>
    <div style="text-align: center; height: 300px; background-position: center; background-size: contain; padding-bottom: 30px;" class="banner6">
        <h1 style="  font-size: 50px; padding-top: 20px; padding-bottom: 20px;" class="banner-text1" id="profile">Profile</h1>
        <h3 style="padding-bottom: 20px; font-size: 30px;" class="banner-text2">About</h3>
        <p style=" font-size: 20px; padding-bottom: 20px; color: gray;" class="banner-text3">A Bachelor of Engineering student at Covenant University with an intermediate knowledge of C#, C,
            Java, HTML5 and CSS3.I have acquired certificates from online courses offered by schools like John
            Hopkins university in Responsive Website Design. Possess software proficiency and technical writing
            skills, can combine adaptability, creativity and teamwork skills for problem-solving. Keen to pursue a
            career in Information and Communication Engineering, more specifically Computer Engineering.</p>
            <img src="../static/assassins_creed_4_super_bowl-1600x900.jpg" width="1200" height="600">
        <div>
         <a style="padding-right: 30px; font-size: 20px; text-decoration: none;" href="#" class="link-1">More about Profile?! > </a>        
        </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br><br>


        <div style="text-align: center; background: url(./images/image1.jpg); background-size: cover; height: 600px; padding-top: 50px; background-position: center;" class="banner7"> 
            <h1 style="font-size: 40px; color: rgb(88, 6, 6); padding-bottom: 5px;" class="second-text1" id="edu">EDUCATION</h1>
            <h3 style="font-size: 20px; padding-bottom: 20px; color: gray;" class="second-text2">Covenant University| Ogun State, Nigeria.
                </h3>
                <p style="font-size: 20px; padding-bottom: 20px; color: gray;" class="second-text2">Bachelor of Engineering</p>
                <p style="font-size: 20px; padding-bottom: 20px; color: gray;" class="second-text2">Predicted Grade: First class</p>
                <p style="font-size: 20px; padding-bottom: 20px; color: gray;" class="second-text2">Current CGPA: 4.63</p>
            <h3 style="font-size: 20px; padding-bottom: 20px; color: gray;" class="second-text2">Good Shepherd High School| City, Country 
                </h3>
                <p style="font-size: 20px; padding-bottom: 20px; color: gray;" class="second-text2">WAEC
                    Subjects: Mathematics (A), Further Mathematics (B), Technical Drawing (A), Physics (B)</p>
                <p style="font-size: 20px; padding-bottom: 20px; color: gray;" class="second-text2">JAMB 
                                        Grade:275</p>
                <img src="../static/cu.jfif" width="400" height="400">
                                        
           
           <div>
                   <a href="#" class="link-3">More about Education></a>
            </div> 
           

</div>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br><br>   
<div style="text-align: center; height: 300px; background-position: center; background-size: contain; padding-bottom: 30px;" class="banner6">
    <h1 style="  font-size: 50px; padding-top: 20px; padding-bottom: 20px;" class="banner-text1" id="hobbies">Hobbies and Interests</h1>
    <h3 style="padding-bottom: 20px; font-size: 30px;" class="banner-text2">Computer Programminging</h3>
    <p style=" font-size: 20px; padding-bottom: 20px; color: gray;" class="banner-text3">Often times I find myself watching online videos on several programming
        languages and mirroring what I can see repeatedly until I can do them independently</p>
<br>
<br>
<br><br>         <img src="../static/wallhaven-545461.jpg" width="1200" height="600">
    <div>
        <h3 style="padding-bottom: 20px; font-size: 30px;" class="banner-text2">Motorsports</h3>
        <p style=" font-size: 20px; padding-bottom: 20px; color: gray;" class="banner-text3">I have a passion and fascination for motorsports like Formula 1 which stems from my
            interest in Automobiles and Automobile engineering.</p>
            <img src="../static/wallhaven-44454.jpg" width="1200" height="800">
        </div>    
     <a style="padding-right: 30px; font-size: 20px; text-decoration: none;" href="#" class="link-1">More about Profile?! > </a>

     <br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>

     <div style="text-align: center; background: url(./images/image1.jpg); background-size: cover; height: 600px; padding-top: 50px; background-position: center;" class="banner7"> 
        <h1 style="font-size: 40px; color: rgb(88, 6, 6); padding-bottom: 5px;" class="second-text1" id="add">Additional Skills</h1>
        <h3 style="font-size: 20px; padding-bottom: 20px; color: gray;" class="second-text2">Languages</h3>
            <p style="font-size: 20px; padding-bottom: 20px; color: gray;" class="second-text2"> English (Advanced),</p>
            <p style="font-size: 20px; padding-bottom: 20px; color: gray;" class="second-text2"> French (Beginner)</p>
        <h3 style="font-size: 20px; padding-bottom: 20px; color: gray;" class="second-text2">Microsoft Office </h3>
            <p style="font-size: 20px; padding-bottom: 20px; color: gray;" class="second-text2"> Proficient in Word, Excel and PowerPoint</p>
        <h3 style="font-size: 20px; padding-bottom: 20px; color: gray;" class="second-text2"> Skills </h3>
            <p style="font-size: 20px; padding-bottom: 20px; color: gray;" class="second-text2"> Problem-solving and Critical thinking</p>
            <img src="../static/high.jfif" width="400" height="400">
                                    
            <br>
            <br>
            <br>
            <br>
            <br>

<div style="text-align: center; height: 300px; background-position: center; background-size: contain; padding-bottom: 30px;" class="banner6" id="friends">
    <h1 style="  font-size: 50px; padding-top: 20px; padding-bottom: 20px;" class="banner-text1" id="hobbies">Friends</h1>
    <h3 style="padding-bottom: 20px; font-size: 30px;" class="banner-text2">/******DISCLAIMER*******/</h3>
    <p style=" font-size: 20px; padding-bottom: 20px; color: gray;" class="banner-text3">Unfortunately, due to the 
        dangers surrounding online interactions I will not be uploading any Images containing me or my friends. 
        I sincerely hope that the other pictures which I have uploaded will suffice for my assesment. </p>
        <br>
        <img src="../static/thanks.jpg" >
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

       <div>
               <a href="#nav" class="link-3">Back to Top</a>
        </div> 
       
       
    
</body>
</html>